In [2]:
print('Hello World!')

Hello World!

In [2]:
def soma(primeiro, segundo):
    resultado = primeiro + segundo
    return resultado

valor_um = 10
valor_dois = 20

soma = soma(valor_um, valor_dois)
print(soma)

30

In [6]:
lista_cliente = ['João', 'José', 'Maria', 'Juliane']
lista_produtos = ['Maçã', 'Banana', 'Chocolate']

lista_cliente.append('Claudia')

print(lista_cliente[4])

Claudia

In [8]:
lista_vendas = []
venda = ('Banana', 4, 8.0)
lista_vendas.append(venda)

print(lista_vendas)

[('Banana', 4, 8.0)]

In [10]:
cliente_1 = {
    'nome' : 'João Pedro',
    'idade' : 24
}

print(cliente_1)

{'nome': 'João Pedro', 'idade': 24}

In [12]:
import math

print(math.pow(3, 4))

81.0