## Análise estatística de dados com Pandas

In [1]:
pip install matplotlib

Requirement already satisfied: matplotlib in c:\users\jjoao\miniconda3\lib\site-packages (3.10.1)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\jjoao\miniconda3\lib\site-packages (from matplotlib) (1.3.2)
Requirement already satisfied: cycler>=0.10 in c:\users\jjoao\miniconda3\lib\site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\jjoao\miniconda3\lib\site-packages (from matplotlib) (4.57.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\jjoao\miniconda3\lib\site-packages (from matplotlib) (1.4.8)
Requirement already satisfied: numpy>=1.23 in c:\users\jjoao\miniconda3\lib\site-packages (from matplotlib) (2.2.5)
Requirement already satisfied: packaging>=20.0 in c:\users\jjoao\miniconda3\lib\site-packages (from matplotlib) (24.2)
Requirement already satisfied: pillow>=8 in c:\users\jjoao\miniconda3\lib\site-packages (from matplotlib) (11.2.1)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\jjoao\miniconda3\lib\site-packages (from matplotlib) (3.2.3)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\jjoao\miniconda3\lib\site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in c:\users\jjoao\miniconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

## Explorando a Diferença Prática entre Média, Mediana e Moda

In [2]:
lst = [2, 4, 6, 1, 3, 0, 4, 3, 5, 3, 5, 4]
sum(lst) / len(lst)

3.3333333333333335

In [3]:
print(len(lst))

12

In [4]:
import statistics

In [5]:
statistics.mean(lst)

3.3333333333333335

In [6]:
lst_sorted = sorted(lst)
print(lst_sorted)

[0, 1, 2, 3, 3, 3, 4, 4, 4, 5, 5, 6]

In [11]:
s = len(lst_sorted)
m = s//2
if s % 2 != 0:
    print(lst_sorted[m])
else:
    print(lst_sorted[m-1] + lst_sorted[m] / 2)

5.0

In [12]:
statistics.median(lst)

3.5

In [13]:
mediana_impar = lst + [10]
mediana_impar

[2, 4, 6, 1, 3, 0, 4, 3, 5, 3, 5, 4, 10]

In [14]:
statistics.median(mediana_impar)

4

In [16]:
statistics.mode(mediana_impar)

4

In [19]:
import pandas as pd

In [20]:
path = 'C:/Users/jjoao/AnaliseDeDados/'

In [21]:
diabetes = pd.read_excel(path+'diabetes.xlsx', 'in')
diabetes.head()

,pressao arterial,concentraçao de glicose,insulina,tipo sanguineo,idade,imc,diabetico
0,72.0,148.0,NaN,A,50,33.6,S
1,66.0,85.0,NaN,O,31,26.6,N
2,64.0,183.0,NaN,A,32,23.3,S
3,66.0,89.0,94.0,A,21,28.1,N
4,40.0,137.0,168.0,O,33,43.1,S

In [22]:
diabetes['imc'].mean()

np.float64(32.457463672391015)

In [23]:
diabetes['idade'].mean()

np.float64(33.240885416666664)

In [25]:
diabetes[['idade', 'imc']].mean()

idade    33.240885
imc      32.457464
dtype: float64