In [1]:
import pandas as pd

In [2]:
cidades = [
    "São Paulo (SP)",
     "Rio de Janeiro (RJ)",
     "Brasília (DF)",
     "Salvador (BA)",
     "Fortaleza (CE)",
     "Manaus (AM)",
]

populacoes = [
    12,
    6.5,
    3,
    2.4,
    2.4,
    2.3
]

In [4]:
cidades_serie = pd.Series(cidades)
cidades_serie

0         São Paulo (SP)
1    Rio de Janeiro (RJ)
2          Brasília (DF)
3          Salvador (BA)
4         Fortaleza (CE)
5            Manaus (AM)
dtype: object

In [5]:
populacoes_serie = pd.Series(populacoes)
populacoes_serie

0    12.0
1     6.5
2     3.0
3     2.4
4     2.4
5     2.3
dtype: float64

In [8]:
cidades_serie[3]

'Salvador (BA)'

In [9]:
cidades_serie[3:5]

3     Salvador (BA)
4    Fortaleza (CE)
dtype: object

In [11]:
populacoes_serie.max()

np.float64(12.0)

In [12]:
populacoes_serie.mean()

np.float64(4.766666666666667)

In [13]:
populacoes_serie * 2

0    24.0
1    13.0
2     6.0
3     4.8
4     4.8
5     4.6
dtype: float64

In [14]:
cidades_populosas = pd.DataFrame({'cidade': cidades_serie, 'populacao em milhoes': populacoes_serie})
cidades_populosas

                cidade  populacao em milhoes
0       São Paulo (SP)                  12.0
1  Rio de Janeiro (RJ)                   6.5
2        Brasília (DF)                   3.0
3        Salvador (BA)                   2.4
4       Fortaleza (CE)                   2.4
5          Manaus (AM)                   2.3

In [15]:
cidades_populosas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 2 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   cidade                6 non-null      object
 1   populacao em milhoes  6 non-null      float64
dtypes: float64(1), object(1)
memory usage: 228.0+ bytes

In [17]:
cidades_populosas['cidade']

0         São Paulo (SP)
1    Rio de Janeiro (RJ)
2          Brasília (DF)
3          Salvador (BA)
4         Fortaleza (CE)
5            Manaus (AM)
Name: cidade, dtype: object

In [18]:
cidades_populosas.iloc[3]

cidade                  Salvador (BA)
populacao em milhoes              2.4
Name: 3, dtype: object

In [19]:
cidades_populosas.iloc[3:5]

           cidade  populacao em milhoes
3   Salvador (BA)                   2.4
4  Fortaleza (CE)                   2.4

In [20]:
cidades_populosas.head()

                cidade  populacao em milhoes
0       São Paulo (SP)                  12.0
1  Rio de Janeiro (RJ)                   6.5
2        Brasília (DF)                   3.0
3        Salvador (BA)                   2.4
4       Fortaleza (CE)                   2.4

In [21]:
cidades_populosas.tail()

                cidade  populacao em milhoes
1  Rio de Janeiro (RJ)                   6.5
2        Brasília (DF)                   3.0
3        Salvador (BA)                   2.4
4       Fortaleza (CE)                   2.4
5          Manaus (AM)                   2.3

In [23]:
def teste_de_nome(nome, dict_de_nomes):
    if nome in dict_de_nomes:
        return True
    return False

dict_de_nomes = {"Bruna":1, "Pedro":1, "Fabricio":1, "Carla":1, "Carolina":1, "Felipe":1}
nome = "Felipe"

if(teste_de_nome(nome, dict_de_nomes)):
    dict_de_nomes[nome]+= 1
else:
    dict_de_nomes[nome] = 1

print("Lista final: ", dict_de_nomes)

Lista final:  {'Bruna': 1, 'Pedro': 1, 'Fabricio': 1, 'Carla': 1, 'Carolina': 1, 'Felipe': 2}

In [25]:
import numpy as np

In [26]:
A = np.array([[" ", " ", " ", " ", " ", " "],
              [" ", " ", " ", " ", " ", " "],
              [" ", " ", " ", " ", " ", " "],
              [" ", " ", " ", " ", " ", " "],
              [" ", " ", " ", " ", " ", " "],
              [" ", " ", " ", " ", " ", " "]])

for i in range(6):
    for j in range(6):
        if(i < j):
            A[i][j] = "#"

print(A)

[[' ' '#' '#' '#' '#' '#']
 [' ' ' ' '#' '#' '#' '#']
 [' ' ' ' ' ' '#' '#' '#']
 [' ' ' ' ' ' ' ' '#' '#']
 [' ' ' ' ' ' ' ' ' ' '#']
 [' ' ' ' ' ' ' ' ' ' ' ']]