## Comnpreendendo Variância e Desvio Padrão

In [7]:
import statistics

lst1 = [0, 1, 2, 3, 3, 3, 4, 4, 4, 5, 5, 6]
lst2 = [0, -1, -2, 30, 3, 3, 4, 40, 4, -50, 5, 6]

print(f'Média lista 1: {statistics.mean(lst1)}')
print(f'Média lista 2: {statistics.mean(lst2)}')

Média lista 1: 3.3333333333333335
Média lista 2: 3.5

In [3]:
statistics.variance(lst1)

2.9696969696969697

In [4]:
statistics.variance(lst2)

451.72727272727275

In [5]:
sorted(lst2)

[-50, -2, -1, 0, 3, 3, 4, 4, 5, 6, 30, 40]

In [6]:
m = statistics.mean(lst2)
m

3.5

In [8]:
dp = statistics.stdev(lst2)
dp

21.253876651737507

In [9]:
m - dp, m+ dp

(-17.753876651737507, 24.753876651737507)

In [10]:
m - 2*dp, m + 2*dp

(-39.00775330347501, 46.00775330347501)

## Variância e Desvio Padrão no Pandas

In [11]:
import pandas
path = 'C:/Users/jjoao/AnaliseDeDados/'

In [14]:
diabetes = pandas.read_excel(path + 'diabetes.xlsx')

In [15]:
diabetes[['idade', 'imc']]

     idade   imc
0       50  33.6
1       31  26.6
2       32  23.3
3       21  28.1
4       33  43.1
..     ...   ...
763     63  32.9
764     27  36.8
765     30  26.2
766     47  30.1
767     23  30.4

[768 rows x 2 columns]

In [16]:
diabetes['idade'].var()

np.float64(138.30304589037377)

In [17]:
diabetes['imc'].var()

np.float64(47.955463399802895)

In [19]:
diabetes[['idade', 'imc']].mean()

idade    33.240885
imc      32.457464
dtype: float64

In [20]:
diabetes[['idade', 'imc']].std()

idade    11.760232
imc       6.924988
dtype: float64